
@font-face {
    font-family: 'ApfelGrotezk';
    src: 
        url(fonts/ApfelGrotezk-Regular.otf) format('otf')
        url(fonts/ApfelGrotezk-Fett.otf) format('otf')
        url(fonts/ApfelGrotezk-Brukt.otf) format('otf')
        url(fonts/ApfelGrotezk-Mittel.otf) format('otf')
        url(fonts/ApfelGrotezk-Satt.otf) format('otf')
}

body {
    font-family: 'ApfelGrotezk', 'Hevetica', sans-serif;
    font-size: 50px;
    font-weight: 500;
}

.navbar a {
    color: black;
    margin: py-14 sm:py-16 2xl:py-20
}

.projects {
    text-align: left;
    margin: left;
    height: auto;
} 

.about {
    text-align: center;
    margin: center;
    height: auto;
}

.contact {
    text-align: right;
    margin: right;
    height: auto;
}
